---
layout: default
type: home
title: I'm Alex Ma
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I'm a Graduate Assistant at University of Colorado Boulder. In my free time I
  build new data science projects, study game dev and architectural modeling.
</p>

<p>
  My research at CU Boulder focuses on gender and racial biases in Chinese and
  English Generative AI models. I generated 18,000 facial images using Chinese
  and English prompts and 4 different stable diffusion models.
</p>

<p>
  Before I became a research assistant, I was a software engineer at the Bay
  Area for a year, working on pricing prediction for my company's marketplace.
</p>

<p>
  I have been in the research field since freshmen summer in college.
  <a href="https://www.cs.rochester.edu/~schubert/">Prof. Lenhart Schubert</a>
  was kind enough to let me help with his PhD students' research on Natural
  Language Processing. Later, I participated in my great math advisor,
  <a href="https://people.math.rochester.edu/faculty/iosevich/"
    >Prof. Alex Iosevich</a
  >'s summer program on theoretical and computational combinatorics,
  optimization and data science.
</p>

<p>
  I love coding and analyzing all kinds of data! (At least when the code doesn't
  have bugs.) Crafting a story from unexplored data is my passion, and I love
  learning from others thoughts and experiences too! Feel free to connect with
  me on LinkedIn or shoot a message/email.
</p>

{% include expertise.html %} {% include projects.html %} {% include blogs.html
%}

<p class="d-flex">{% include buy-button.html %}</p>
