---
layout: default
type: home
title: I'm Alex Ma
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I'm an incoming Applied Math Master's student at Boulder, CO. I currently help
  with GenAI model bias research at CU Boulder. I have extensive AI research
  experiences and skills, complimented by my software and cloud experiences. In
  my free time I build new data science/ML projects, read books, study audio
  processing, and play video games.
</p>

<p>
  My research at CU Boulder focuses on discovering and quantifying gender and
  racial biases in Chinese and English stable diffusion models. I generated
  facial images using neutral prompts and observed introduced biases.
</p>

<p>
  I have been in the research field since freshmen summer in college.
  <a href="https://www.cs.rochester.edu/~schubert/">Prof. Lenhart Schubert</a>
  was kind enough to let me help with his PhD students' research on symbolic
  Natural Language Processing, consequently taught me computational linguistic,
  which I took a class about it later.
</p>

<p>
  Because of my NLP background, I was selected to intern at AiiT, Peking
  University. There, I helped launched a smart customer serivce chatbot and
  conducted in-depth research on deep learning natural language processing
  techniques. After the internship, I decided to strengthen my math skills to
  understand deep learning techniques more deeply. I participated in my awesome
  math advisor,
  <a href="https://people.math.rochester.edu/faculty/iosevich/"
    >Prof. Alex Iosevich</a
  >'s summer program on theoretical and computational optimization and data
  science. My research and experimental experiences taught me to efficiently
  self study, quickly apply learnt theories, and transform theories into highly
  performant analysis or models that brings both intellectual and profitable
  value to the company.
</p>

<p>
  After college, I became a software engineer at Scale AI, a data labeling SaaS
  startup. There, I learnt valuable data engineering and machine learning skills
  by implementing, deploying, and maintaining a model that automatically
  predicts tasker payouts for labeling tasks and replaced manual pricing. Even
  though I spent less time on creating more innovative solutions, my program
  contributed to building our platform's data infra, is computaitional
  efficient, runs end-to-end daily on AWS clouds, and saved laber cost by more
  than 10%.
</p>

<p>
  I love coding and working with all kinds of data. I also actively interact
  with peers and mentors in my field, attend events, and enjoy exchanging ideas
  and experiences. To schedule a chat, feel free to me a message on LinkedIn or
  email.
</p>

<p>
  Below shows an assorted personal projects I've worked on. It covers areas like
  data engineering, end-to-end machine learning, deep learning, and statistical
  and data analysis. Language used range from Python, R, to SQL and JavaScript.
</p>

{% include expertise.html %} {% include projects.html %} {% include blogs.html
%}

<p class="d-flex">{% include buy-button.html %}</p>
